.main {
  flex: 0 0 800px;
  display: flex;
  flex-direction: column;
  border: 1px solid #ddd;
  padding: 1rem;
}
.tableContent {
  flex-grow: 0;
  text-align: left;
  border-collapse: collapse;
}
.tableContent > table {
  width: 100%;
}
.tableContent > table > thead {
  user-select: none;
  font-size: 1.3rem;
}
.tableContent > table > thead > tr > th:first-child {
  width: 400px;
}
button {
  display: inline-block;
  font-weight: bolder;
  margin: 0 auto;
  padding: 1em 2em;
  height: 3em;
  background-color: #00adb5;
  color: white;
  border-radius: 1.5em;
  outline: none;
  border: none;
  user-select: none;
  cursor: pointer;
}
